<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
    "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="CheckInCounter">
	<resultMap id="CheckInCounterMapper" type="CheckInCounter">
		<id property="id" column="id" />
		<result property="ownerId" column="ownerId" />
		<result property="counter" column="counter" />
		<association property="owner" column="ownerId" javaType="Person" select="Person.findById"></association>
		<association property="place" column="palceId" javaType="Place" select="Place.findById"></association>
	</resultMap>
	
	<select id="findById" resultMap="CheckInCounterMapper" parameterType="Long">
		select u.* from CheckInCounter u where u.id=#{id} 
    </select>
    
	<select id="findByOwerId" resultMap="CheckInCounterMapper" parameterType="Long">
		select u.* from CheckInCounter u where u.ownerId=#{ownerId} 
    </select>
    
	<select id="find" resultMap="CheckInCounterMapper" parameterType="java.util.Map">
		select u.* from CheckInCounter u where 1=1
		  <if test="ownerId !=null and ownerId !='' ">
	        and ownerId =#{ownerId}
	      </if>
	      <if test="palceId !=null and palceId !='' ">
	        and palceId =#{palceId}
	      </if>
    </select>
    
  <insert id="insert" parameterType="CheckInCounter">
		insert into CheckInCounter (id, ownerId, palceId,counter) values (#{id}, #{ownerId}, #{palceId},#{counter})
  </insert>
  
  <insert id="update" parameterType="CheckInCounter">
		update CheckInCounter set ownerId = #{ownerId}, palceId = #{palceId} ,counter = #{counter} where id = #{id}
  </insert>
</mapper> 
