<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
    "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="CheckIn">
	<resultMap id="CheckInMapper" type="CheckIn">
		<id property="id" column="id" />
		<result property="ownerId" column="ownerId" />
		<result property="time" column="time" />
		<association property="owner" column="ownerId" javaType="Person" select="Person.findById"></association>
		<association property="place" column="palceId" javaType="Place" select="Place.findById"></association>
	</resultMap>
	
	<select id="findById" resultMap="CheckInMapper" parameterType="Long">
		select u.* from CheckIn u where u.id=#{id} 
    </select>
    
	<select id="findByOwnerId" resultMap="CheckInMapper" parameterType="Long">
		select u.* from CheckIn u where u.ownerId=#{ownerId} 
    </select>
    
  <insert id="insert" parameterType="CheckIn">
		insert into CheckIn (id, ownerId, palceId) values (#{id}, #{ownerId}, #{palceId})
  </insert>
</mapper> 
