<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
    "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="FriendRequest">
	<resultMap id="FriendRequestMapper" type="FriendRequest">
		<id property="id" column="id" />
		<result property="targetPersonId" column="targetPersonId" />
		<result property="sourcePersonId" column="sourcePersonId" />
	</resultMap>
	
	<delete id="delete" parameterType="FriendRequest">
		delete from FriendRequest where targetPersonId = #{targetPersonId} and sourcePersonId = #{sourcePersonId}
    </delete>
	
	<select id="find" resultMap="FriendRequestMapper" parameterType="java.util.Map">
		SELECT * FROM FriendRequest  WHERE 1=1
        <if test="targetPersonId !=null and targetPersonId !=''">
        	and targetPersonId = #{targetPersonId}
        </if>
        <if test="sourcePersonId !=null and sourcePersonId !=''">
        	and sourcePersonId = #{sourcePersonId}
        </if>
        <if test="id !=null and id !=''">
        	and id = #{id}
        </if>
    </select>
  
  <insert id="insert" parameterType="FriendRequest">
		insert into FriendRequest (id, targetPersonId, sourcePersonId) values (#{id}, #{targetPersonId}, #{sourcePersonId})
 	</insert>
</mapper> 
