<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
    "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="OAuthAccessKey">
	<resultMap id="OAuthAccessKeyMapper" type="OAuthAccessKey">
		<id property="id" column="id" />
		<result property="accessKey" column="accessKey" />
		<result property="accessKeySecret" column="accessKeySecret" />
		<result property="provider" column="provider" />
		<association property="owner" column="ownerId" javaType="Person" select="Person.findById"></association>
	</resultMap>
	
	<select id="findById" resultMap="OAuthAccessKeyMapper"	parameterType="Long">
		select u.* from OAuthAccessKey u where u.id=#{id} 
    </select>
    
	<select id="find" resultMap="OAuthAccessKeyMapper"	parameterType="OAuthAccessKey">
		select u.* from OAuthAccessKey u where u.id=#{id} 
		<if test="ownerId !=null and ownerId !='' ">
	        and ownerId =#{ownerId}
	     </if>
	     <if test="accessKey !=null and accessKey !='' ">
	        and accessKey =#{accessKey}
	     </if>
	     <if test="provider !=null and provider !='' ">
	        and provider =#{provider}
	     </if>
    </select>
  
  <insert id="insert" parameterType="OAuthAccessKey">
		insert into OAuthAccessKey (id, accessKey, accessKeySecret,provider, ownerId) values (#{id}, #{accessKey}, #{accessKeySecret},#{provider},#{ownerId})
 	</insert>
</mapper> 
