<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
    "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="PersonalLocation">
	<resultMap id="PersonalLocationMapper" type="PersonalLocation">
		<id property="id" column="id" />
		<result property="ownerId" column="ownerId" />
		<result property="latitude" column="latitude" />
		<result property="longitude" column="longitude" />
		<result property="time" column="time" />
		<!--  <result property="personId" column="person_id" />-->
		<association property="owner" column="ownerId" javaType="Person" select="Person.findById"></association>
	</resultMap>
	
	<select id="findById" resultMap="PersonalLocationMapper"
		parameterType="Long">
		select u.* from Account u where u.id=#{id} and deleted != 1
    </select>
    
	<select id="findNearbyFriends" resultMap="java.util.List" parameterType="java.util.Map">
		SELECT * FROM PersonalLocation AS P WHERE P.ownerID IN 
		<foreach collection="friendIds" item="friendId" open="(" separator="," close=")">
        	#{friendId}
        </foreach>
        <if test="lastDay !=null and lastDay !=''">
        	AND (P.time BETWEEN #{lastDay} AND #{currentTime})
        </if>
    </select>
    
	<select id="findByOwerId" resultMap="java.util.List" parameterType="Long">
		select u.* from PersonalLocation u where u.ownerId=#{ownerId} 
    </select>
    
  
  <insert id="insert" parameterType="Profile">
		insert into PersonalLocation(id, ownerId, latitude,longitude) values (#{id}, #{ownerId}, #{latitude},#{longitude})
 	</insert>
</mapper> 
