<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
    "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="Place">
	<resultMap id="PlaceMapper" type="Place">
		<id property="id" column="id" />
		<result property="placeName" column="placeName" />
		<result property="latitude" column="latitude" />
		<result property="longitude" column="longitude" />
		<result property="checkInTimes" column="checkInTimes" />
		<result property="currentMoney" column="currentMoney" />
		<result property="image" column="image" />
		<result property="create_Time" column="create_Time" />
		<association property="creator" column="creatorId" javaType="Person" select="Person.findById"></association>
		<association property="topUser" column="topUserId" javaType="Person" select="Person.findById"></association>
		<association property="parent" column="parentId" javaType="Place" select="Place.findById"></association>
		<collection property="replies" column="reply_id" ofType="Reply">  
            <id property="id" column="reply_id"/>  
            <result property="ownerId" column="reply_ownerId" />
			<result property="content" column="content" />
			<result property="date" column="date" />
        </collection>
	</resultMap>
	
	<select id="findById" resultMap="PlaceMapper"	parameterType="Long">
		select u.* from Place u where u.id=#{id} 
    </select>
    
	<select id="find" resultMap="PlaceMapper"	parameterType="Place">
		select * from Place  where 1=1
	  <if test="creatorId !=null and creatorId !='' ">
        and creatorId =#{creatorId}
      </if>
      <if test="topUserId !=null and topUserId !='' ">
        and topUserId =#{topUserId}
      </if>
    </select>
    
	<select id="findNearByPlaces" resultMap="PlaceMapper" parameterType="java.util.Map">
		select * from Place P WHERE (P.latitude BETWEEN #{lowLatitude} AND #{highLatitude})
    </select>
    
	<select id="findSubPlacesById" resultMap="PlaceMapper"		parameterType="Long">
		select * from Place where parentId=#{parentId} 
    </select>
  
  <insert id="insert" parameterType="Place">
		insert into Place (id, placeName, latitude,longitude,checkInTimes,currentMoney,image,creatorId,topUserId,parentId) 
		values (#{id}, #{placeName}, #{latitude},#{longitude},#{checkInTimes},#{currentMoney},#{image},#{creatorId},#{topUserId},#{parentId})
 	</insert>
</mapper> 
