<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
    "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="Reply">
	<resultMap id="ReplyMapper" type="Reply">
		<id property="id" column="id" />
		<result property="ownerId" column="ownerId" />
		<result property="content" column="content" />
		<result property="date" column="date" />
		<association property="owner" column="ownerId" javaType="Person" select="Person.findById"></association>
		<association property="place" column="palceId" javaType="Place" select="Place.findById"></association>
	</resultMap>
	
	<select id="findById" resultMap="ReplyMapper" parameterType="Long">
		select u.* from Reply u where u.id=#{id} 
    </select>
    
	<select id="findBypalceId" resultMap="ReplyMapper" parameterType="Long">
		select u.* from Reply u where u.palceId=#{palceId} 
    </select>
  
  <insert id="insert" parameterType="Reply">
		insert into Reply (id, ownerId, content,palceId,date) values (#{id}, #{ownerId}, #{content},#{palceId},#{date})
  </insert>
</mapper> 
