<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	android:versionCode="1" android:versionName="1.0"
	package="cn.edu.nju.software.gof.activity">
	<application android:name=".MyApplication" android:icon="@drawable/logo"
		android:label="@string/app_name">
		<uses-library android:name="com.google.android.maps" />
		<activity android:name=".WelcomeActivity" android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name=".LoginActivity" android:label="@string/app_name"></activity>
		<activity android:name=".CreatNewPlaceActivity"
			android:label="@string/app_name"></activity>
		<activity android:name=".RegisterActivity" android:label="@string/app_name"></activity>
		<activity android:name=".MainTabActivity" android:label="@string/app_name"></activity>
		<activity android:name=".GoogleMapActivity" android:label="@string/app_name"></activity>
		<activity android:name=".FriendActivity" android:label="@string/app_name"></activity>
		<activity android:name=".PlaceActivity" android:label="@string/app_name"></activity>
		<activity android:name=".CheckInActivity" android:label="@string/app_name"></activity>
		<activity android:name=".FriendManagerActivity"
			android:label="@string/app_name"></activity>
		<activity android:name=".FriendInfoActivity" android:label="@string/app_name"></activity>
		<activity android:name=".SettingActivity" android:label="@string/app_name"></activity>
		<activity android:name=".PersonalInfoActivity" android:label="@string/app_name"></activity>
		<activity android:name=".ModifyCustomizeinfoActivity"
			android:label="@string/modify_customizeinfo"></activity>
		<activity android:name=".AddFriendActivity" android:label="@string/app_name"></activity>
		<activity android:name=".FriendSearchResultActivity"
			android:label="@string/app_name"></activity>
		<activity android:name=".CustomizeInformationActivity"
			android:label="@string/app_name"></activity>
		<activity android:name=".PlaceCheckInActivity" android:label="@string/app_name"></activity>
		<activity android:name=".PlaceCommentActivity" android:label="@string/app_name"></activity>
		<activity android:name=".PlaceDetailInformationActivity"
			android:label="@string/app_name"></activity>
		<activity android:name=".FriendRecommandActivity"
			android:label="@string/app_name"></activity>
		<activity android:name=".FriendCheckinsActivity"
			android:label="@string/app_name"></activity>
		<activity android:name=".PlaceInformationActivity"
			android:label="@string/app_name"></activity>
		<activity android:name=".PlaceSubplaceActivity"
			android:label="@string/app_name"></activity>
		<activity android:name=".FriendRequestActivity"
			android:label="@string/app_name"></activity>
		<activity android:name=".NearbyPlaceListActivity"
			android:label="@string/app_name"></activity>
		<activity android:name=".NearbyFriendListActivity"
			android:label="@string/app_name"></activity>
		<activity android:name=".PlaceOfferActivity" android:label="@string/app_name"></activity>
		<activity android:name=".SynchronousActivity" android:label="@string/app_name"></activity>
		<activity android:name=".SyncRenrenActivity" android:label="@string/app_name"></activity>
		<activity android:name=".ChangePlaceInfoActivity"
			android:label="@string/app_name"></activity>
	</application>
	<uses-sdk android:minSdkVersion="8" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
</manifest> 